body{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    place-content: center;
    
}
.video-background{
    width: 100%;
    height: 100vh;
    object-fit:contain;
    z-index: 1;
    position: absolute;
}
.background-black{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: absolute;
}
.container--title{
    height: 100vh;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
}
.title{
    font-size: 5rem;
    color: white;

}
.switch-btn{
    display: flex;
    position: absolute;
    z-index: 4;
    color: #319DA0;
    background-color: white;
    border: none;
    border-radius: 8px;
    bottom: 7%;
    left: 7%;
    height: 2rem;
    width: 7rem;
    padding: 0px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}


.switch{
    background-color: #319DA0;
    left: 0;
    height: 2rem;
    width: 50%;
    position: absolute;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
}
.slide{
    left: 50%;
}
